<mat-form-field>
  <mat-label>Arama</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ör: Turkey">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort>

  <!-- Position Column -->
  <ng-container matColumnDef="country">
    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header> Ülke </th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="cases">
    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header> Vaka </th>
    <td mat-cell *matCellDef="let element"> {{element.cases}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="todayCases">
    <th class="text-center" mat-header-cell *matHeaderCellDef> Bugün Vaka </th>
    <td mat-cell *matCellDef="let element"> {{element.todayCases}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="deaths">
    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header> Ölüm </th>
    <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="todayDeaths">
    <th class="text-center" mat-header-cell *matHeaderCellDef> Bugün Ölüm </th>
    <td mat-cell *matCellDef="let element"> {{element.todayDeaths}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="recovered">
    <th class="text-center" mat-header-cell *matHeaderCellDef> İyileşen </th>
    <td mat-cell *matCellDef="let element"> {{element.recovered}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="active">
    <th class="text-center" mat-header-cell *matHeaderCellDef> Aktif </th>
    <td mat-cell *matCellDef="let element"> {{element.active}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="critical">
    <th class="text-center" mat-header-cell *matHeaderCellDef> Kritik </th>
    <td mat-cell *matCellDef="let element"> {{element.critical}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="casesPerOneMillion">
    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header> Vaka / Milyon </th>
    <td mat-cell *matCellDef="let element"> {{element.casesPerOneMillion}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="deathsPerOneMillion">
    <th class="text-center" mat-header-cell *matHeaderCellDef> Ölüm / Milyon </th>
    <td mat-cell *matCellDef="let element"> {{element.deathsPerOneMillion}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
