<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="ie: an">
</mat-form-field>
<div class="text-center mb-3" role="alert">
  <button type='button' class='btn btn-success' (click)='results()'>Export as CSV</button>
</div>

<table class="mat-elevation-z12" mat-table [dataSource]="dataSource" matSort>
   <!-- Position Column -->
  <ng-container matColumnDef="country">
    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
    <td mat-cell *matCellDef="let element"><a [routerLink]="['/country', element.country]"> {{element.country}} </a></td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="cases">
    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Cases</th>
    <td mat-cell *matCellDef="let element"> {{element.cases}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="todayCases">
    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Today Cases</th>
    <td mat-cell *matCellDef="let element"> {{element.todayCases}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="deaths">
    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Deaths</th>
    <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="todayDeaths">
    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Today Deaths</th>
    <td mat-cell *matCellDef="let element"> {{element.todayDeaths}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="recovered">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Recovered</th>
    <td mat-cell *matCellDef="let element"> {{element.recovered}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="active">
    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
    <td mat-cell *matCellDef="let element"> {{element.active}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="critical">
    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Critical</th>
    <td mat-cell *matCellDef="let element"> {{element.critical}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="casesPerOneMillion">
    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Cases / Million</th>
    <td mat-cell *matCellDef="let element"> {{element.casesPerOneMillion}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="deathsPerOneMillion">
    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Deaths / Million</th>
    <td mat-cell *matCellDef="let element"> {{element.deathsPerOneMillion}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="firstCase">
    <th class="text-center" mat-header-cell *matHeaderCellDef>First Case</th>
    <td mat-cell *matCellDef="let element"> {{element.firstCase}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
