<h1 class="text-center">Global Veriler <span class="badge badge-secondary">{{today | date:'shortDate'}}</span></h1>
<div class="alert alert-primary" role="alert">
 Toplam Vaka: {{ veri.cases | number}}
</div>
<div class="alert alert-secondary" role="alert">
  Ölüm: {{ veri.deaths | number}}
</div>
<div class="alert alert-success" role="alert">
  İyileşme: {{ veri.recovered | number}}
</div>

<div class="text-center my-2">
  <a routerLink="/countries" class="btn btn-primary">Detailed Statistics</a>
</div>
